<!-- Target for toggling the sidebar `.sidebar-checkbox` is for regular
     styles, `#sidebar-checkbox` for behavior. -->
<input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox">

<!-- Toggleable sidebar -->
<div class="sidebar" id="sidebar">
  <div class="sidebar-item">
    <p>{{ site.description }}</p>
  </div>

  <nav class="sidebar-nav">
    <a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="{{ site.baseurl }}/">Home</a>

    {% comment %}
      The code below dynamically generates a sidebar nav of pages with
      `layout: page` in the front-matter. See readme for usage.
    {% endcomment %}

    {% assign pages_list = site.pages | sort:"url" %}
    {% for node in pages_list %}
      {% if node.title != null %}
        {% if node.layout == "page" %}
          <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ node.url }}">{{ node.title }}</a>
        {% endif %}
      {% endif %}
    {% endfor %}
    <span class="sidebar-nav-item">Currently v{{ site.version }}</span>
  </nav>

  <div class="sidebar-item">
    <p>
      No &copy;. Just don't copy.
    </p>
  </div>
  {% if site.facebook %}
    <a class="sidebar-nav-item" href="https://www.facebook.com/{{ site.facebook }}">
      <img class="social-button" src="{{ site.baseurl }}/public/social/facebook.svg">
      Facebook
    </a>
  {% endif %}
  {% if site.twitter %}
    <a class="sidebar-nav-item" href="https://www.twitter.com/{{ site.twitter }}">
      <img class="social-button" src="{{ site.baseurl }}/public/social/twitter.svg">
      Twitter
    </a>
  {% endif %}
  {% if site.snapchat %}
    <a class="sidebar-nav-item" href="https://www.snapchat.com/add/{{ site.snapchat }}">
      <img class="social-button" src="{{ site.baseurl }}/public/social/snapchat.svg">
      Snapchat
    </a>
  {% endif %}
  {% if site.dribbble %}
    <a class="sidebar-nav-item" href="https://www.dribbble.com/{{ site.dribbble }}">
      <img class="social-button" src="{{ site.baseurl }}/public/social/dribbble.svg">\
      Dribbble
    </a>
  {% endif %}
</div>
